<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="icon" type="img/x-icon" href="{% static 'images/favicon (1).ico' static%} ">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <div class="header">
    <a  href="{% url 'index' %}">
    <img src="{% static 'images/Royal_Maids_Hubjpg-31-removebg-preview.png' static%} " alt="logo" class="logo"></a>
    <div class="header-right">
      <ul class="social-iconsheader">
        <li><a href="(https://www.facebook.com)" target="_blank"><i class="fab fa-facebook-f" style="color: white; margin-right: 19px;"></i></a></li>
        <li><a href="(https://www.twitter.com)" target="_blank"><i class="fab fa-twitter" style="color: white; margin-right: 19px;"></i></a></li>
        <li><a href="(https://www.instagram.com)" target="_blank"><i class="fab fa-instagram" style="color: white;margin-right: 17px;"></i></a></li>
        <li><a href="(https://www.linkedin.com)" target="_blank"><i class="fab fa-linkedin-in" style="color: white; margin-right: 15px;"></i></a></li>
        <li><a href="(https://www.youtube.com)" target="_blank"><i class="fab fa-youtube" style="color: white;margin-right: 9px;"></i></a></li>
      </ul>
      <p><a href="mailto:royalmaidshub@gmail.com" style="color: goldenrod;">info@royalmaidshub@gmail.com</a></p>
    </div>
  </div>
  

    
<div class="topnav">
    <a href="{% url 'index' %}">HOME</a>
    <a href="{% url 'about_view' %}">ABOUT </a>
    <a href="{% url 'services' %}">SERVICES</a>
    <a href="{% url 'booking' %}">BOOKING</a>
    <a href="{% url 'application' %}">APPLICATION</a>
    <a href="{% url 'contact' %}">CONTACT</a>
   
  </div>

  <div class="containerabout">
    <img src="{% static 'images\bd 4.webp' static%}" style="height:300px ; width: 100%;" alt="Image">
    <div class="about">About Us</div>
  </div>
<br><br><br><br><br>
  <div class="container-who">
    <img src="{% static 'images\Ab image.png' static%} " style="height: 500px;" alt="Image" class="image-who">
    <div class="text-who" style="margin-left: 40px;">
      <h100 style="text-transform: capitalize; font-size: 25px; color: goldenrod; margin-top: -50px; margin-bottom: 10px; position: absolute; top: 0; left: 0; width: 100%; text-align: center; z-index: 1;">Royal Maids Hub</h100>
      <h101 style="color: purple; font-size: 30px; margin-top: 40px; margin-bottom: 20px;">WHO ARE WE</h101>
      
      <p style="color: black; font-size: 20px; margin-bottom: 40px;">Become a Professional maid at Royal Maids Hub! <br> Embark on a Rewarding Career in Home Care and Management</p>
      <a href="contact.html">
        <button class="contact-us" style="margin-top: 20px;">Contact Us</button>
      </a>
    </div>
  </div>
  <br>
  <br>
  <h102 style="text-align: center; color: purple; font-size: 30px; font-weight: bolder; margin-left: 45%; text-transform: uppercase;">What We Do</h102> 
<br><br>



    <div style="display: flex; justify-content: space-between;">
      <div class="left-column" style="width: 40%; margin-left: 10%;">
        <p style="font-size: 18px;">We recruit Domestic Workers (DWs) from all over the country approved by the Ministry of Manpower of Uganda (MOU).</p>
        <p style="margin-top: 40px; font-size: 18px;">We will assist employers in their DW selection process by giving honest feedback and advice, arrange interviews through phone or video calls, arrange all the documentation, and apply work permit for the selected DW.</p>
        <p style="margin-top: 40px; font-size: 18px;">We provide counseling and if necessary re-training to DWs who have difficulty fitting into the culture or the employer’s household.</p>
      </div>
      <div class="right-column" style="width: 40%; margin-right: 7%;">
        <p style="font-size: 18px;">We train these DWs in their respective regions and when they are ready, we match them with suitable families.</p>
        <p style="margin-top: 50px; font-size: 18px;">We will pick up the DW on her arrival date, bring her for a pre-employment medical check-up, send her for SIP (Settling-In Programme), and finally arrange for her thumb printing to be done.</p>
      </div>
    </div>
  </section>
  <br><br>
  
  
  

   


  <section class="lynn">
<div class="others"> 
  <h107 style="color: purple;font-size: 30px;margin-left: 9%;"><b>Others:</b></h07><br> 
  <p style="color: black;font-size: 18px; margin-left: 13%;"> At Royal Maids Hub, we recruit, train, and deploy potential maids, ensuring they are well-<br>
    prepared to provide top-tier services.</p> 
    <p style="color: black;font-size: 18px; margin-left: 13%;"> Experience the difference with Royal Maids Hub, where
    every service is fit for royalty.
   </p>
</div>
<br>
<div class="why-choose-us">
  <h200 style="color: purple;font-size: 30px; text-transform:uppercase ; margin-left: 42%;"><b>Why Choose Us</b></h200> <br><br>
  <p style="text-align: center; font-size: 18px;"> At Royal Maids Hub, we provide professional domestic workers at affordable rates. <br>Our services ensure trust and security, elevating maid
    service to a royal standard.<br> Here is why you should choose us:</p>
    <br> <br>

    <!-- <h102 style="text-align: center; color: purple; font-size: 30px; font-weight: bolder;margin-left: 43%; text-transform: uppercase;">What We Do</h102> <br><br> -->
    <section class="all-columns">
      <div style="display: flex; justify-content: space-between;">
        <div class="left-column" style="width: 40%; margin-left: 9%;">
          <p style="font-size: 18px;">We recruit Domestic Workers (DWs) from all over the country approved by the Ministry of Manpower of Uganda (MOU).</p>
          <p style="margin-top: 40px; font-size: 18px;">We will assist employers in their DW selection process by giving honest feedback and advice, arrange interviews through phone or video calls, arrange all the documentation, and apply work permit for the selected DW.</p>
          <p style="margin-top: 40px; font-size: 20px;">We provide counseling and if necessary re-training to DWs who have difficulty fitting into the culture or the employer’s household.</p>
        </div>
        <div class="right-column" style="width: 40%; margin-right: 6%;">
          <p style="font-size: 18px;">We train these DWs in their respective regions and when they are ready, we match them with suitable families.</p>
          <p style="margin-top: 50px; font-size: 18px;">We will pick up the DW on her arrival date, bring her for a pre-employment medical check-up, send her for SIP (Settling-In Programme), and finally arrange for her thumb printing to be done.</p>
        </div>
      </div>
    </section>
    
    

    
    </div>
</section>
  






  
 <div class="footer">
  <div class="logo-container">
    <img src="{% static 'images/Royal_Maids_Hubjpg-31-removebg-preview.png' static %}" alt="logo">
    <ul class="social-iconsfooter">
      <li><a href="(https://www.facebook.com)" target="_blank"><i class="fab fa-facebook-f" style="color: white;"></i></a></li>
      <li><a href="(https://www.twitter.com)" target="_blank"><i class="fab fa-twitter"style="color: white;"></i></a></li>
      <li><a href="(https://www.instagram.com)" target="_blank"><i class="fab fa-instagram"style="color: white;"></i></a></li>
      <li><a href="(https://www.linkedin.com)" target="_blank"><i class="fab fa-linkedin-in"style="color: white;"></i></a></li>
      <li><a href="(https://www.youtube.com)" target="_blank"><i class="fab fa-youtube"style="color: white;"></i></a></li>
    </ul>
  </div>
  <div class="contact-info">
    <p>+256703173206</p>
    <p>info@royalmaidshub.org</p>
    <address>Edward-Mugalu Road, Mpererwe, Kampala</address>
    <p>&copy;royalmaidshub All rights reserved</p>
  </div>
  <div class="quick-links">
    <h3>Quick Links</h3>
    <ul>
      <li><a href="{% url 'index' %}" style="color: goldenrod;">Home</a></li>
      <li><a href="{% url 'about_view' %}" style="color: goldenrod;">About Us</a></li>
      <li><a href="{% url 'contact' %}" style="color: goldenrod;">Contact Us</a></li>
      {% comment %} <li><a href="{% url 'services' %}" style="color: goldenrod;">Services</a></li> {% endcomment %}
      <li><a href="#" style="color: goldenrod;">Terms and Conditions</a></li>
      <li><a href="{% url 'application' %}" style="color: goldenrod;">Application</a></li>
    </ul>
  </div>
</div>



</body>
</html>






